<section class="site-section border-bottom" id="team-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Meet Our Team</h2>
        <p class="lead" data-aos="fade-up" data-aos-delay="100">A small river named Duden flows by their place and
          supplies it with the necessary regelialia.</p>
      </div>
    </div>
    <div class="row">


      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="assets/images/malek.jpg" style="width: 300px ; height: 300px;" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Malek Hassouna</h3>
            <span class="position">Web Master</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="assets/images/hatem.jpg" style="width: 300px ; height: 300px;" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Hatem Trigui</h3>
            <span class="position">Data Engineer</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="assets/images/rania.jpg" style="width: 300px ; height: 300px;" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Rania Ben Abdallah</h3>
            <span class="position">Monitoring Manager</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="assets/images/mortadha.jpg" style="width: 300px ; height: 300px;" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3>Mortadha Mzid</h3>
            <span class="position">Devops Engineer</span>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>